<div class="home">
  <h1>Homework Tracker</h1>
  <%= link_to "Log in", log_in_path %><br>
  <%= link_to "Sign up", sign_up_user_path %><br>
  <%= link_to "Sign up as Teacher", sign_up_teacher_path %>
</div>
