<nav class="top-bar" data-topbar>
      <ul class="title-area">

        <li class="name">
          <h1>
            <a href="/">
              Homework Tracker
            </a>
          </h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
      </ul>

      <section class="top-bar-section">

        <ul class="right">
          <li class="divider"></li>
          <li class="events"><%= link_to "Placeholder", "#" %></li>
          <li class="divider"></li>
          <li class="events"><%= link_to "Add student", "#" %></li>
          <li class="divider"></li>
          <li class="events"><%= link_to "Create Assignment", create_assignment_path %></li>
          <li class="divider"></li>
          <li class="events"><%= link_to "Log out", log_out_path %></li>
          <li class="divider"></li>
        </ul>
      </section>
    </nav>
